.gallery-container {
    background-color: black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.gallery {
    border: 1px solid #ccc;
    background-color: black;
    padding: 10px;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.responsive {
    padding: 0 6px;
    width: 19.99999%; /* Smaller width to make images smaller */
    box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
