/* Header */
.container-satu {
    width: 60%;
    margin: 90px 100px;
    margin-left: 30px;
    /*background-color: rgba(214, 214, 228, 0.4);*/
}

header {
    /* background-image: url("https://dspncdn.com/a1/media/692x/62/70/07/627007fd92e2d57bff56c634786022a8.jpg");*/
    background-image: url("https://dspncdn.com/a1/media/692x/b0/4d/95/b04d95f4fc76762c19b3af26d49d96d5.jpg");
    background-size: cover;
    /*background-color: grey;*/
    border-bottom: 1px solid #ecca9c;
    text-align: left;
    padding: 100px;
}
header h1 {
    font-size: 50px;
}

header p {
    font-size: 20px;
}

header h1,
p {
    color: #fff;
    margin: 30px;
}

header b {
    color: #fba834;
}

#loginButton,
#pesanButton {
    background-color: #e8efcf;
    color: black;
    padding: 10px 20px;
    margin-left: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#loginButton:hover,
#pesanButton:hover {
    background-color: #fba834;
}

#loginButton:active,
#pesanButton:active {
    background-color: #e8efcf;
}
