/* dashboard.css */
.admin-dashboard {
    display: flex;
}

.main-content {
    margin-left: 250px; /* Lebar sidebar */
    padding: 20px;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 250px; /* Disesuaikan dengan lebar sidebar */
    z-index: 1;
}

.logo h1 {
    margin: 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 20px;
}

.user-info a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #444;
    border-radius: 5px;
}

.user-info a:hover {
    background-color: #555;
}

/* navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: calc(100% - 250px); /* Disesuaikan dengan lebar sidebar */
    top: 0;
    left: 250px; /* Disesuaikan dengan lebar sidebar */
    z-index: 1;
}

.logo h1 {
    margin: 0;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info span {
    margin-right: 20px;
}

.user-info a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #444;
    border-radius: 5px;
}

.user-info a:hover {
    background-color: #555;
}
