/* sidebar.css */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
}

.sidebar a {
    padding: 15px 8px 15px 16px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: flex; /* Ubah display ke flex untuk kontrol lebih baik */
    align-items: center; /* Pusatkan konten secara vertikal */
}

.sidebar a i {
    margin-right: 10px; /* Tambahkan margin kanan pada ikon */
}

.sidebar a:hover {
    background-color: #575757;
    color: white;
}
